//====================================================================================================
$size: 36px; // Change Me
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 6;
	// .header__content

	&__content {
		height: 84px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: block;
		position: relative;
		z-index: 5;
		img {
			max-width: 100%;
		}
		@media (max-width:$md2+px){
			width: 150px;
		}
		@media (max-width:$md3+px){
			width: 100%;
		}
		@media (max-width:$md4+px){
			width: 160px;
		}
	}
	&__menu {
		background: white;
		border-radius: $size/6;
		height: 0;
		width: 0;
		overflow: hidden;
		position: relative;
		box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
		transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
		&.expanded {
			display: block;
			height: 40px;
			width: 610px;
			padding: 13px 0px 0px 20px;
			@media (max-width:$md1+px){
				padding: 13px 0px 0px 10px;
				width: 500px;
			}
			@media (max-width:$md3+px){
				top:0;
				height: 100%;
				width: 100%;
				transition: all 0.3s ease 0s;
			}
		}
		@media (max-width:$md3+px){
			position: fixed;
			top: -100%;
			left: 0;
			padding: 0px 0px 0px 0px;
			z-index: 5;
			border-radius: 0;
			overflow: auto;
		}
	}
	
	&__burger {
	
	}
	

	&__list {
		display: flex;
		align-items: center;
		@media (max-width:$md3+px){
			padding-top: 50px;
			flex-direction: column;
			align-items: flex-start;
			height: 100vh;
		}
		@media (max-width:$md4+px){
			padding-top: 0;
			justify-content:center;
			align-items: center;
		}
	}

	// .header__item

	&__item {
		margin: 0px 20px 0px 0px;
		white-space: nowrap;
		visibility: visible;
		opacity: 1;
		transition: .3s;
		transform: rotateY(0deg);
		&:nth-of-type(1) {
			transition-delay: .4s;
		}
		&:nth-of-type(2) {
			transition-delay: .5s;
		}
		&:nth-of-type(3) {
			transition-delay: .6s;
		}
		&:nth-of-type(4) {
			transition-delay: .7s;
		}
		&:nth-of-type(5) {
			transition-delay: .8s;
		}
		&:nth-of-type(6) {
			transition-delay: .9s;
			margin: 0px 0px 0px 0px;
		}
		&.hidden {
			width: 0;
			visibility: hidden;
			opacity: 0;
			transform: rotateY(90deg);
			&:nth-of-type(1) {
				transition-delay: .5s;
			}
			&:nth-of-type(2) {
				transition-delay: .4s;
			}
			&:nth-of-type(3) {
				transition-delay: .3s;
			}
			&:nth-of-type(4) {
				transition-delay: .2s;
			}
			&:nth-of-type(5) {
				transition-delay: .1s;
			}
			&:nth-of-type(6) {
				transition-delay: .0s;
			}
		}
		@media (max-width:$md3+px){
			margin: 0px 0px 20px 0px;
			padding-left: 20px;
		}
		@media (max-width:$md4+px){
			padding: 0px 5px 0px 0px;
		}
	}

	// .header__link

	&__link {
		color: #000;
		transition: .3s;
		font-size: $size/2.2;
		font-weight: 700;
		text-transform: capitalize;
		&:hover{
			color: #ffd723;
		}
		@media (max-width:$md1+px){
			font-size: $size/2.8;
		}
		@media (max-width:$md3+px){
			font-size: 36px;
		}
		@media (max-width:$md4+px){
			font-size: 30px;
		}
	}
}


// __content {

// }


//====================================================================================================

.burger {
	width: 90px;
	height: 90px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 5;
	margin-top: 38px;

	// .burger__item-top
	& > span {
		display: block;
		position: relative;
		width: 45%;
		height: 5px;
		margin: 10px auto;
		background-color: white;
		border-radius: 10px;
	}

	&__item-top {
		transition: all .3s .5s;
	}

	// .burger__item-middle

	&__item-middle {
		transition: all .3s .3s;
	}

	// .burger__item-bottom

	&__item-bottom {
		transition: all .3s .1s;
	}
	&.active {
		.burger__item-top {
			width: 45%;
			height: 45%;
			margin: 5px auto 0 auto;
			transition: all .3s .1s;
		}
		.burger__item-middle {
			background-color: #ffd723;;
			transform: translateY(-34px) rotateZ(45deg);
			transition: all .3s .3s;
		}
		.burger__item-bottom {
			background-color: #ffd723;
			transform: translateY(-48px) rotateZ(-45deg);
			transition: all .3s .5s;
		}
		
	}
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
