//====================================================================================================
$size: 36px; // Change Me
$height: $size / 8;
$margin: $size / 3.2;
$toggle: ($size + $margin*2) * 1.5; 
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
	// .header__content

	&__content {
		height: 84px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	&__menu {
		background: white;
		border-radius: $size/6;
		height: 0;
		width: 0;
		overflow: hidden;
		position: relative;
		box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
		transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
		&.expanded {
			display: block;
			height: 40px;
			width: 650px;
			padding: 13px 0px 0px 20px;
			@media (max-width:$md2+px){
				width: 480px;
			}
		}
	}
	
	&__burger {
	}
	// &__burger {
	// 	position: absolute;
	// 	top: 25px;
	// 	right: 165px;
	// 	height: 30px;
	// 	width: 20px;
	// 	transition: 1s;
	// 	z-index: 5;
	// 	background-color: #fff;
		
	// }
// 	&__toggle {
// 		position: relative;
// 		height: $margin*3 + $height*2;
// 		width: $margin*2 + $size;
// 		cursor: pointer;
// 		&:after,
//   		&:before {
// 			content: '';
// 			background: #000;
// 			width: 20px;
// 			height: 3px;
// 			margin: auto;
// 			position: absolute;
// 			top: 0; bottom: 0;
// 			right: 0; left: 0;
// 			transition: 1.3s 
// 			cubic-bezier(.53,0,.15,1.3);
// 	}
// 	&:before { top: -30%; }
//   	&:after { top: 30%; }
// 	&.close:before {
// 		transform: rotate(-225deg);
// 		top: 0;
// 	}
// 	&.close:after {
// 		transform: rotate(225deg);
// 		top: 0;
// 	}
// }
	// .header__nav
	
	// .header__list

	&__list {
		display: flex;
		align-items: center;
	}

	// .header__item

	&__item {
		margin: 0px 20px 0px 0px;
		white-space: nowrap;
		visibility: visible;
		opacity: 1;
		transition: .3s;
		transform: rotateY(0deg);
		&:nth-of-type(1) {
			transition-delay: .4s;
		}
		&:nth-of-type(2) {
			transition-delay: .5s;
		}
		&:nth-of-type(3) {
			transition-delay: .6s;
		}
		&:nth-of-type(4) {
			transition-delay: .7s;
		}
		&:nth-of-type(5) {
			transition-delay: .8s;
		}
		&:nth-of-type(6) {
			transition-delay: .9s;
			margin: 0px 0px 0px 0px;
		}
		&.hidden {
			width: 0;
			visibility: hidden;
			opacity: 0;
			transform: rotateY(90deg);
			&:nth-of-type(1) {
				transition-delay: .5s;
			}
			&:nth-of-type(2) {
				transition-delay: .4s;
			}
			&:nth-of-type(3) {
				transition-delay: .3s;
			}
			&:nth-of-type(4) {
				transition-delay: .2s;
			}
			&:nth-of-type(5) {
				transition-delay: .1s;
			}
			&:nth-of-type(6) {
				transition-delay: .0s;
			}
		}
		@media (max-width:$md2+px){
			margin: 0px 10px 0px 0px;
		}
	}

	// .header__link

	&__link {
		color: #000;
		transition: .3s;
		font-size: $size/2.2;
		font-weight: 700;
		text-transform: capitalize;
		&:hover{
			color: #ffd723;
		}
		@media (max-width:$md2+px){
			font-size: $size/2.8;
		}
	}
}


// __content {

// }


//====================================================================================================

.burger {
	width: 90px;
	height: 90px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	margin-top: 38px;
	// .burger__item-top
	& > span {
		display: block;
		position: relative;
		width: 45%;
		height: 5px;
		margin: 10px auto;
		background-color: white;
		border-radius: 10px;
	}

	&__item-top {
		transition: all .3s .5s;
	}

	// .burger__item-middle

	&__item-middle {
		transition: all .3s .3s;
	}

	// .burger__item-bottom

	&__item-bottom {
		transition: all .3s .1s;
	}
	&.active {
		.burger__item-top {
			width: 45%;
			height: 45%;
			margin: 5px auto 0 auto;
			transition: all .3s .1s;
		}
		.burger__item-middle {
			background-color: #ffd723;;
			transform: translateY(-34px) rotateZ(45deg);
			transition: all .3s .3s;
		}
		.burger__item-bottom {
			background-color: #ffd723;
			transform: translateY(-48px) rotateZ(-45deg);
			transition: all .3s .5s;
		}
		
	}
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
